src/main/mule/blackboard-lms-uc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:blackboard="http://www.mulesoft.org/schema/connectivity/blackboard"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/connectivity/blackboard http://www.mulesoft.org/schema/connectivity/blackboard/current/mule-blackboard.xsd">
	<flow name="put:\v1\catalog\categories\(categoryType)\(categoryId)\courses\(courseId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="e36477c6-bf42-4e4c-95a1-b1493bf1cfe9" config-ref="HTTP_Listener_config" allowedMethods="PUT" path="/v1/catalog/categories/{categoryType}/{categoryId}/courses/{courseId}">
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="categoryType">attributes.uriParams.'categoryType'</ee:set-variable>
                <ee:set-variable variableName="categoryId">attributes.uriParams.'categoryId'</ee:set-variable>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="ab42ecf9-122d-47c9-806f-aa67b0dda9ae" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="07474d6c-4fac-4a9d-82fd-5e7db6555f7b" >
			<when expression="#[isEmpty(attributes.queryParams.fields)]">
				<blackboard:course-category-create-category-membership doc:name="Course Category Create Category Membership" doc:id="d1446096-5dd2-4752-bc0e-4f0893c6bf2a" config-ref="Blackboard_config" categoryType="#[vars.categoryType]" categoryId="#[vars.categoryId]" courseId="#[vars.courseId]" correlationId="#[correlationId]"/>
			</when>
			<otherwise >
				<blackboard:course-category-create-category-membership doc:name="Course Category Create Category Membership" doc:id="c0d49498-a2aa-4c9a-8014-d58448925a06" config-ref="Token_Blackboard_config" categoryType="#[vars.categoryType]" categoryId="#[vars.categoryId]" courseId="#[vars.courseId]" correlationId="#[vars.categoryType]" fields='#[attributes.queryParams.fields default ""]'/>
			</otherwise>
		</choice>
		<set-variable value="#[attributes.statusCode]" doc:name="httpStatus" doc:id="7fa6de9f-ee8b-44f7-979e-7c976263e3fe" variableName="httpStatus" />
    </flow>
    <flow name="put:\v1\courses\(courseId)\children\(childCourseId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="a81f6ad6-08c0-46f2-a12d-ac7f9c6352e4" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/children/{childCourseId}" allowedMethods="PUT" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="childCourseId">attributes.uriParams.'childCourseId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="cb9415b7-8e3a-4a8b-8e1e-735d3cc07f81" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="75ca2ac4-bc8a-4283-a814-d64d1f654de8" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<blackboard:courses-add-child-course doc:name="Courses Add Child Course" doc:id="8fc405de-cb24-44a1-a14c-57fa931d5e85" config-ref="Token_Blackboard_config" courseId="#[vars.courseId]" childCourseId="#[vars.childCourseId]" correlationId="#[correlationId]"/>
			</when>
			<otherwise >
				<blackboard:courses-add-child-course doc:name="Courses Add Child Course" doc:id="5d8dd22f-f555-4bfd-89b6-6874ebd51aad" config-ref="Token_Blackboard_config" courseId="#[vars.courseId]" childCourseId="#[vars.childCourseId]" correlationId="#[correlationId]" ignoreEnrollmentErrors="#[isEmpty(attributes.queryParams.ignoreEmrollmentErrors)]" fields='#[attributes.queryParams.fields default ""]'/>
			</otherwise>
		</choice>
		<set-variable value="#[attributes.statusCode]" doc:name="httpStatus" doc:id="838e81a9-1ce8-43f8-80cb-7ee07118306d" variableName="httpStatus" />
    </flow>
    <flow name="put:\v1\courses\(courseId)\users\(userId):application\json:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="077041a8-53a2-4818-b80d-44a3d1bf8cf3" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/users/{userId}" allowedMethods="PUT" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="860bc272-429a-458e-af00-8ade30e12dcb" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="b6dec583-bf86-44fb-b74e-4cfb2d8e0c6b" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<blackboard:course-membership-create-course-user-membership doc:name="Course Membership Create Course User Membership" doc:id="c7e10527-7cab-44a5-9975-4720d1da000a" config-ref="Blackboard_config" courseId="#[vars.courseId]" userId="#[vars.userId]" correlationId="#[correlationId]">
					<blackboard:course_membership_-_create_course_user_membership--body ><![CDATA[#[payload]]]></blackboard:course_membership_-_create_course_user_membership--body>
				</blackboard:course-membership-create-course-user-membership>
			</when>
			<otherwise >
				<blackboard:course-membership-create-course-user-membership doc:name="Course Membership Create Course User Membership" doc:id="95e783d9-14ed-4978-96be-cf58ef848ecc" config-ref="Blackboard_config" courseId="#[vars.courseId]" userId="#[vars.userId]" correlationId="#[correlationId]" fields='#[attributes.queryParams.fields default ""]'>
			<blackboard:course_membership_-_create_course_user_membership--body><![CDATA[#[payload]]]></blackboard:course_membership_-_create_course_user_membership--body>
		</blackboard:course-membership-create-course-user-membership>
			</otherwise>
		</choice>
		<set-variable value="#[attributes.statusCode]" doc:name="httpStatus" doc:id="65fd2f24-df3e-45fa-a34d-6c4f30d5be70" variableName="httpStatus" />
    </flow>
    <flow name="delete:\v1\catalog\categories\(categoryType)\(categoryId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="9e882060-4c83-498c-8069-3a3cb262fad3" config-ref="HTTP_Listener_config" path="/v1/catalog/categories/{categoryType}/{categoryId}" allowedMethods="DELETE" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="categoryType">attributes.uriParams.'categoryType'</ee:set-variable>
                <ee:set-variable variableName="categoryId">attributes.uriParams.'categoryId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="72483487-01e3-474d-905d-153d743b4416" name="accesstoken_Flow" target="blackboardToken"/>
		<blackboard:course-category-delete-category doc:name="Course Category Delete Category" doc:id="c929f81f-f766-4429-af38-3cbcb47becb9" config-ref="Blackboard_config" categoryType="#[vars.categoryType]" categoryId="#[vars.categoryId]" correlationId="#[correlationId]"/>
    </flow>
    <flow name="delete:\v1\catalog\categories\(categoryType)\(categoryId)\courses\(courseId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="2fc5d451-112b-4e62-8857-47aefcac0267" config-ref="HTTP_Listener_config" path="/v1/catalog/categories/{categoryType}/{categoryId}/courses/{courseId}" allowedMethods="DELETE" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="categoryType">attributes.uriParams.'categoryType'</ee:set-variable>
                <ee:set-variable variableName="categoryId">attributes.uriParams.'categoryId'</ee:set-variable>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="9cc0434b-7096-47ce-89f1-069e9795427a" name="accesstoken_Flow" target="blackboardToken"/>
		<blackboard:course-category-delete-category-membership doc:name="Course Category Delete Category Membership" doc:id="547571b7-52a5-499a-96b4-c4f8d1cde2ec" config-ref="Blackboard_config" categoryType="#[vars.categoryType]" categoryId="#[vars.categoryId]" courseId="#[vars.courseId]" correlationId="#[correlationId]"/>
		<set-variable value="#[attributes.statusCode default 204]" doc:name="httpStatus" doc:id="3ebe256e-ef7d-4978-a533-7066380314ef" variableName="httpStatus" />
    </flow>
    <flow name="delete:\v1\courses\(courseId)\children\(childCourseId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="d4a63d99-eb69-4dda-9ea3-842dfbdde919" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/children/{childCourseId}" allowedMethods="DELETE" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="childCourseId">attributes.uriParams.'childCourseId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="2b2814f4-5e4a-4ec7-b065-d65c05c7bd55" name="accesstoken_Flow" target="blackboardToken"/>
		<blackboard:courses-remove-child-course doc:name="Courses Remove Child Course" doc:id="8d0d78f0-a233-4718-8ec1-6ba0782f07aa" config-ref="Blackboard_config" courseId="#[vars.courseId]" childCourseId="#[vars.childCourseId]" correlationId="#[correlationId]"/>
		<set-variable value="#[attributes.statusCode default 204]" doc:name="httpStatus" doc:id="67768d27-eb49-4ab5-ab77-71a20d041e83" variableName="httpStatus" />
    </flow>
    <flow name="delete:\v1\courses\(courseId)\meetings:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="2f7f6fc8-7640-4868-8e51-90b2c2d46aeb" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/meetings" allowedMethods="DELETE" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="e6dda236-73ee-499d-9194-391290dc6dce" name="accesstoken_Flow" target="blackboardToken"/>
    </flow>
    <flow name="delete:\v1\courses\(courseId)\meetings\users\(userId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="3765b02f-8a8b-42c2-910f-276ec0194ab8" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/meetings/users/{userId}" allowedMethods="DELETE" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="8cad5a8b-b914-4427-bd9b-6976ed96f024" name="accesstoken_Flow" target="blackboardToken"/>
    </flow>
    <flow name="delete:\v1\courses\(courseId)\meetings\(meetingId)\users\(userId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="443c2f53-9acf-48fb-9b7f-4e704eab492f" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/meetings/{meetingId}/users/{userId}" allowedMethods="DELETE" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="meetingId">attributes.uriParams.'meetingId'</ee:set-variable>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="cd362246-ad67-4c03-a868-52ccf3d3f395" name="accesstoken_Flow" target="blackboardToken"/>
    </flow>
    <flow name="delete:\v1\courses\(courseId)\users\(userId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="a12708d9-0cf6-4ef6-9d1c-e498fac8e5dc" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/users/{userId}" allowedMethods="DELETE" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="c436eb40-6d15-4203-a4bc-b99ceb72f146" name="accesstoken_Flow" target="blackboardToken"/>
		<blackboard:course-membership-delete-course-membership doc:name="Course Membership Delete Course Membership" doc:id="2018dfec-14ed-4980-9281-ee1b06e07a1f" config-ref="Blackboard_config" courseId="#[vars.courseId]" userId="#[vars.userId]" correlationId="#[correlationId]"/>
		<set-variable value="#[attributes.statusCode default 204]" doc:name="httpStatus" doc:id="1792c623-7981-4577-abde-fcfb94696ae1" variableName="httpStatus" />
    </flow>
    <flow name="delete:\v1\terms\(termId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="c73c7b88-7e2e-41b9-b5ef-127d6ca7eb17" config-ref="HTTP_Listener_config" path="/v1/terms/{termId}" allowedMethods="DELETE" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="termId">attributes.uriParams.'termId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="75e20c55-27bd-45da-99a8-aef74e67becf" name="accesstoken_Flow" target="blackboardToken"/>
		<blackboard:terms-delete-term doc:name="Terms Delete Term" doc:id="b12c257f-b0b4-4f8a-8c95-b117ddb3d89b" config-ref="Blackboard_config" termId="#[vars.termId]" correlationId="#[correlationId]"/>
    </flow>
    <flow name="delete:\v1\users\(userId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="fa82d91d-1394-42e4-a176-e7257657447b" config-ref="HTTP_Listener_config" path="/v1/users/{userId}" allowedMethods="DELETE" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="73ba15ff-0263-45e9-973f-b34d35203375" name="accesstoken_Flow" target="blackboardToken"/>
		<blackboard:users-delete-user doc:name="Users Delete User" doc:id="14db536b-a49a-4ad5-9f98-0d190de8f9e5" config-ref="Blackboard_config" userId="#[vars.userId]" correlationId="#[correlationId]"/>
		<set-variable value="#[attributes.statusCode]" doc:name="httpStatus" doc:id="6ab8e977-1e5b-4354-94e5-425beaef5ef3" variableName="httpStatus" />
    </flow>
    <flow name="delete:\v3\courses\(courseId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="279a1d79-d76a-4030-b5db-d47584e5c697" config-ref="HTTP_Listener_config" path="/v3/courses/{courseId}" allowedMethods="DELETE" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="ca1031b1-c8bc-4c76-83ea-c8c3bcbf5fd8" name="accesstoken_Flow" target="blackboardToken"/>
		<blackboard:courses-delete-course doc:name="Courses Delete Course" doc:id="6c5aca42-a806-4b07-9ade-be3dfead9e91" config-ref="Blackboard_config" courseId="#[vars.courseId]" correlationId="#[correlationId]"/>
		<set-variable value="#[attributes.statusCode]" doc:name="httpStatus" doc:id="fc108643-0210-40b1-9548-24a7932c30c9" variableName="httpStatus" />
    </flow>
    <flow name="patch:\v1\catalog\categories\(categoryType)\(categoryId):application\json:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="0b2b0518-52b1-41ee-ab1c-b0a0826e5cd8" config-ref="HTTP_Listener_config" path="/v1/catalog/categories/{categoryType}/{categoryId}" allowedMethods="PATCH" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="categoryType">attributes.uriParams.'categoryType'</ee:set-variable>
                <ee:set-variable variableName="categoryId">attributes.uriParams.'categoryId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="4cdfaa0c-6e1f-44f3-afcd-e72d63731932" name="accesstoken_Flow" target="blackboardToken" />
		<blackboard:course-category-update-category doc:name="Course Category - Update Category" doc:id="d369e672-ad21-4d3f-ad05-583623154d87" config-ref="Blackboard_config" categoryType="#[vars.categoryType]" categoryId="#[vars.categoryId]" correlationId="#[correlationId]">
			<blackboard:course_category_-_update_category--body ><![CDATA[#[payload]]]></blackboard:course_category_-_update_category--body>
		</blackboard:course-category-update-category>
    </flow>
    <flow name="patch:\v1\courses\(courseId)\meetings\(meetingId)\users\(userId):application\json:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="d7f0c05d-4660-4c67-9e3b-f07a18b631fe" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/meetings/{meetingId}/users/{userId}" allowedMethods="PATCH" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="meetingId">attributes.uriParams.'meetingId'</ee:set-variable>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="43130bd3-1bb4-4869-b449-9504cb3fdfcf" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="38586dcb-bff7-44b5-879b-b5e43e95ba16" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<logger level="INFO" doc:name="Logger" doc:id="fbb874dd-f9f1-46ec-bd6f-a6652b579af6" />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="eb92ff03-6e48-4727-9541-32f0dcdd7f84" />
			</otherwise>
		</choice>
    </flow>
    <flow name="patch:\v1\courses\(courseId)\users\(userId):application\json:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="1465e5ee-dbda-4220-8cd0-199afb7f47e5" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/users/{userId}" allowedMethods="PATCH" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="cdd1c155-8e21-42c0-99b5-12405e7795cd" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="9bfcea8b-dab4-4b35-b652-b9bcfa0582db" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<blackboard:course-membership-update-course-user-membership doc:name="Course Membership Update Course User Membership" doc:id="376756cc-fe74-4173-bd81-bb5e200a3f4e" config-ref="Blackboard_config" courseId="#[vars.courseId]" userId="#[vars.userId]" correlationId="#[correlationId]">
					<blackboard:course_membership_-_update_course_user_membership--body ><![CDATA[#[payload]]]></blackboard:course_membership_-_update_course_user_membership--body>
				</blackboard:course-membership-update-course-user-membership>
			</when>
			<otherwise >
				<blackboard:course-membership-update-course-user-membership doc:name="Course Membership Update Course User Membership" doc:id="f0411bf9-1045-4ce1-931a-9de7dca47c4f" config-ref="Blackboard_config" courseId="#[vars.courseId]" userId="#[vars.userId]" correlationId="#[correlationId]" fields="#[attributes.queryParams.fields]">
			<blackboard:course_membership_-_update_course_user_membership--body><![CDATA[#[payload]]]></blackboard:course_membership_-_update_course_user_membership--body>
		</blackboard:course-membership-update-course-user-membership>
			</otherwise>
		</choice>
		<set-variable value="#[attributes.statusCode]" doc:name="httpStatus" doc:id="e577272f-472a-4ac0-b846-c0a562aac739" variableName="httpStatus" />
    </flow>
    <flow name="patch:\v1\terms\(termId):application\json:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="adf955e4-b358-4c7d-93e3-6380ab55dd4f" config-ref="HTTP_Listener_config" path="/v1/terms/{termId}" allowedMethods="PATCH" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="termId">attributes.uriParams.'termId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="8afb0f2b-5cc1-4b28-ae89-a8840ad66198" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="9c091a09-51b8-4544-97c5-5df5059e6940" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<blackboard:terms-update-term doc:name="Terms Update Term" doc:id="4437483e-967e-4ef4-8414-0b6954799cc4" config-ref="Blackboard_config" termId="#[vars.termId]" correlationId="#[correlationId]">
					<blackboard:terms_-_update_term--body ><![CDATA[#[payload]]]></blackboard:terms_-_update_term--body>
				</blackboard:terms-update-term>
			</when>
			<otherwise >
				<blackboard:terms-update-term doc:name="Terms Update Term" doc:id="f3701967-b8bb-45cc-ac8a-4ad1bc083a8a" config-ref="Blackboard_config" termId="#[vars.termId]" correlationId="#[correlationId]" fields='#[attributes.queryParams.fields default ""]'>
			<blackboard:terms_-_update_term--body><![CDATA[#[payload]]]></blackboard:terms_-_update_term--body>
		</blackboard:terms-update-term>
			</otherwise>
		</choice>
    </flow>
    <flow name="patch:\v1\users\(userId):application\json:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="4e178b20-fc33-4829-a9e6-d9cf431e6dfb" config-ref="HTTP_Listener_config" path="/v1/users/{userId}" allowedMethods="PATCH" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="f417b29f-9e02-4699-824e-7750f0a63410" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="89d4830f-a10b-4509-b3dd-299f1e62937a" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<blackboard:users-update-user doc:name="Users Update User" doc:id="06cd8d4a-3e53-4ad8-a134-7b23d1c612a3" config-ref="Blackboard_config" userId="#[vars.userId]" correlationId="#[correlationId]">
					<blackboard:users_-_update_user--body ><![CDATA[#[payload]]]></blackboard:users_-_update_user--body>
				</blackboard:users-update-user>
			</when>
			<otherwise >
				<blackboard:users-update-user doc:name="Users Update User" doc:id="a938a516-0801-4ddb-8808-35f3a5f401f7" config-ref="Blackboard_config" userId="#[vars.userId]" correlationId="#[correlationId]" fields='#[attributes.queryParams.fields default ""]'>
			<blackboard:users_-_update_user--body><![CDATA[#[payload]]]></blackboard:users_-_update_user--body>
		</blackboard:users-update-user>
			</otherwise>
		</choice>
    </flow>
    <flow name="patch:\v3\courses\(courseId):application\json:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="e6d3d9cb-720e-4dc8-9025-b3417610907f" config-ref="HTTP_Listener_config" path="/v3/courses/{courseId}" allowedMethods="PATCH" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="a76e71bd-a738-4613-bf8d-91e9e6afe144" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="21d74722-ed0f-46db-b3ca-397e6cec76f6" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<blackboard:courses-update-course doc:name="Courses Update Course" doc:id="9006b6dd-4c40-4c05-9879-c39d7dc9abdc" config-ref="Blackboard_config" courseId="#[vars.courseId]" correlationId="#[correlationId]">
					<blackboard:courses_-_update_course--body ><![CDATA[#[payload]]]></blackboard:courses_-_update_course--body>
				</blackboard:courses-update-course>
			</when>
			<otherwise >
				<blackboard:courses-update-course doc:name="Courses Update Course" doc:id="8371ffc4-22ad-4a1f-8ac3-76010ac3f32a" config-ref="Blackboard_config" courseId="#[vars.courseId]" fields='#[attributes.queryParams.fields default ""]' correlationId="#[correlationId]">
					<blackboard:courses_-_update_course--body ><![CDATA[#[payload]]]></blackboard:courses_-_update_course--body>
				</blackboard:courses-update-course>
			</otherwise>
		</choice>
    </flow>
    <flow name="get:\v1\calendars\items:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="1beadcf8-cd9f-4c44-a8a9-fa5d0dea20eb" config-ref="HTTP_Listener_config" path="/v1/calendars/items" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="blackboard-token-subFlow" doc:id="553d5e73-e256-4e31-be30-a77944c8808e" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="cc68c94f-8772-407c-a7f4-34ea2292606b" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<blackboard:usersupcoming-events doc:name="Users Upcoming Events" doc:id="9c570e53-fb2b-4cea-9d78-3160394001fa" config-ref="Blackboard_config" correlationId="#[correlationId]"/>
			</when>
			<otherwise >
				<blackboard:usersupcoming-events doc:name="Users Upcoming Events" doc:id="90e67050-68f0-43de-a237-aa538cc550d6" config-ref="Blackboard_config" correlationId="#[correlationId]" courseId='#[attributes.queryParams.courseId default ""]' type="#[attributes.queryParams.'type' default &quot;&quot;]" since='#[attributes.queryParams.since default ""]' until='#[attributes.queryParams.until default ""]' offset="#[attributes.queryParams.offset as Number default 1]" includePermissions="#[!isEmpty(attributes.queryParams.includePermissions)]" limit='#[attributes.queryParams.limit as Number default 10]' sort='#[attributes.queryParams.sort default ""]' fields='#[attributes.queryParams.fields default ""]'/>
			</otherwise>
		</choice>
    
</flow>
    <flow name="get:\v1\catalog\categories\(categoryType):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="df534d75-3a6d-42f2-b645-cba43e19c997" config-ref="HTTP_Listener_config" path="/v1/catalog/categories/{categoryType}" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="categoryType">attributes.uriParams.'categoryType'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="4d438a0d-9427-48a9-abf5-44a9bd7986f1" name="accesstoken_Flow" target="blackboardToken"/>
		<blackboard:course-category-get-categories doc:name="Course Category Get Categories" doc:id="3e43bc5f-64c5-40e9-b815-630e513ec4d6" config-ref="Blackboard_config" categoryType="#[vars.categoryType]" correlationId="#[correlationId]"/>
    
</flow>
    <flow name="get:\v1\catalog\categories\(categoryType)\(categoryId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="71805669-90ca-4de9-b0f2-c18229f465ee" config-ref="HTTP_Listener_config" path="/v1/catalog/categories/{categoryType}/{categoryId}" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="categoryType">attributes.uriParams.'categoryType'</ee:set-variable>
                <ee:set-variable variableName="categoryId">attributes.uriParams.'categoryId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="73a7e717-8cfd-4d7f-bf12-08ef4e74e5c4" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="a04a5ee3-9c96-4b29-965b-a1d8e402bfce" >
			<when expression="#[isEmpty(attributes.queryParams.fields)]">
				<blackboard:course-category-get-category-by-id doc:name="Course Category Get Category By ID" doc:id="3bbc4c06-bf31-4cd0-a385-49558af5e859" config-ref="Blackboard_config" categoryType="#[vars.categoryType]" categoryId="#[vars.categoryId]" correlationId="#[correlationId]"/>
			</when>
			<otherwise >
				<blackboard:course-category-get-category-by-id doc:name="Course Category Get Category By ID" doc:id="0cc60b50-c448-49ed-a319-775a93e02bd5" config-ref="Blackboard_config" categoryType="#[vars.categoryType]" categoryId="#[vars.categoryId]" correlationId="#[correlationId]" fields='#[attributes.queryParams.fields default ""]'/>
			</otherwise>
		</choice>
    
</flow>
    <flow name="get:\v1\catalog\categories\(categoryType)\(categoryId)\courses:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="0afd85d4-860f-4ed6-93e8-7a66bd91098e" config-ref="HTTP_Listener_config" path="/v1/catalog/categories/{categoryType}/{categoryId}/courses" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="categoryType">attributes.uriParams.'categoryType'</ee:set-variable>
                <ee:set-variable variableName="categoryId">attributes.uriParams.'categoryId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="7cff56fb-839f-42d9-a465-4900a6bb5029" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="ad374e9d-1d02-4074-9123-c4dc68326b2a" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<blackboard:course-category-get-category-memberships doc:name="Course Category Get Category Memberships" doc:id="66550bb9-11bb-48c8-9711-706b863799aa" config-ref="Blackboard_config" categoryType="#[vars.categoryType]" categoryId="#[vars.categoryId]" correlationId="#[correlationId]"/>
			</when>
			<otherwise >
				<blackboard:course-category-get-category-memberships doc:name="Course Category Get Category Memberships" doc:id="fde8d5e5-5c26-4fe9-b27d-d4653befad52" config-ref="Blackboard_config" categoryType="#[vars.categoryType]" categoryId="#[vars.categoryId]" correlationId="#[correlationId]" includePermissions="#[isEmpty(attributes.queryParams.includePermissions)]" expand='#[attributes.queryParams.expand default ""]' offset="#[attributes.queryParams.offset as Number default 1]" fields='#[attributes.queryParams.fields default ""]' limit="#[attributes.queryParams.limit as Number default 10]"/>
			</otherwise>
		</choice>
    
</flow>
    <flow name="get:\v1\catalog\categories\(categoryType)\(parentId)\children:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="7aa6a57f-19a8-444c-a2d1-f4c59fe8d09e" config-ref="HTTP_Listener_config" path="/v1/catalog/categories/{categoryType}/{parentId}/children" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="categoryType">attributes.uriParams.'categoryType'</ee:set-variable>
                <ee:set-variable variableName="parentId">attributes.uriParams.'parentId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="0ddfaa61-48f4-4b15-b818-13535b5c34c0" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="458b1a4a-665c-4ba9-9518-58a73b269087" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<blackboard:course-category-get-child-categories doc:name="Course Category Get Child Categories" doc:id="64529fb0-29df-45be-95e1-a8981638d680" config-ref="Blackboard_config" categoryType="#[vars.categoryType]" parentId="#[vars.parentId]" correlationId="#[correlationId]" includePermissions="#[isEmpty(attributes.queryParams.includePermissions)]" frontPage="#[isEmpty(attributes.queryParams.frontPage)]" available="#[isEmpty(attributes.queryParams.available)]"/>
			</when>
			<otherwise >
				<blackboard:course-category-get-child-categories doc:name="Course Category Get Child Categories" doc:id="c822fd25-1456-4bee-84d4-cce16c501151" config-ref="Blackboard_config" categoryType="#[vars.categoryType]" parentId="#[vars.parentId]" correlationId="#[correlationId]" categoryId='#[attributes.queryParams.categoryId default ""]' dataSourceId='#[attributes.queryParams.dataSourceId default ""]' includePermissions="#[isEmpty(attributes.queryParams.includePermissions)]" createdCompare='#[attributes.queryParams.createdCompare default ""]' offset="#[attributes.queryParams.offset as Number default 1]" frontPage="#[isEmpty(attributes.queryParams.frontPage)]" fields='#[attributes.queryParams.fields default ""]' available="#[isEmpty(attributes.queryParams.available)]" title='#[attributes.queryParams.title default ""]' sort='#[attributes.queryParams.sort default ""]' limit="#[attributes.queryParams.limit as Number default 10]" created='#[attributes.queryParams.created default ""]'/>
			</otherwise>
		</choice>
    
</flow>
    <flow name="get:\v1\courseRoles:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="d6da56eb-9e64-42f1-b2ba-231b09c85e78" config-ref="HTTP_Listener_config" path="/v1/courseRoles" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="blackboard-token-subFlow" doc:id="fcf52236-1ac1-425a-8ffa-c2cc94a22763" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="cfaef9de-3461-4e81-8c36-d41fb8626030" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<blackboard:roles-get-course-roles doc:name="Roles Get Course Roles" doc:id="cdc5444f-2eb1-49dc-97b7-2c79f64dcf7d" config-ref="Blackboard_config" correlationId="#[correlationId]"/>
			</when>
			<otherwise >
				<blackboard:roles-get-course-roles doc:name="Roles Get Course Roles" doc:id="fdea84bc-a5e9-4411-974d-35531b565302" config-ref="Blackboard_config" offset="#[attributes.queryParams.offset as Number]" includePermissions="#[isEmpty(attributes.queryParams.includePermissions)]" limit="#[attributes.queryParams.limit as Number]" sort='#[attributes.queryParams.sort default ""]' custom="#[isEmpty(attributes.queryParams.custom)]" roleId='#[attributes.queryParams.roleId default ""]' fields='#[attributes.queryParams.fields default ""]' correlationId="#[correlationId]"/>
			</otherwise>
		</choice>
    
</flow>
    <flow name="get:\v1\courseRoles\(roleId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="4d695cf3-7608-498e-a246-e0ff60b2255b" config-ref="HTTP_Listener_config" path="/v1/courseRoles/{roleId}" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="roleId">attributes.uriParams.'roleId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="3ff5104b-923c-4092-a3ca-4bc2c001ba24" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="50ea3b5b-127c-4397-acc3-a1858baed126" >
			<when expression="#[isEmpty(attributes.queryParams.fields)]">
				<blackboard:roles-get-course-role doc:name="Roles Get Course Role" doc:id="ac286bdf-2110-42f9-aa52-08072730bbc6" config-ref="Blackboard_config" roleId="#[vars.roleId]" correlationId="#[correlationId]"/>
			</when>
			<otherwise >
				<blackboard:roles-get-course-role doc:name="Roles Get Course Role" doc:id="af88a201-8d74-4c89-9e97-a96992f87651" config-ref="Blackboard_config" roleId="#[vars.roleId]" correlationId="#[correlationId]" fields='#[attributes.queryParams.fields default ""]'/>
			</otherwise>
		</choice>
    
</flow>
    <flow name="get:\v1\courses\(courseId)\children:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="0c024973-8b7b-454a-9712-646fdd7e7fdd" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/children" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="3acbba0e-1b2a-466e-bc9f-8fee068eb150" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="c63b7cc0-d3a1-44a2-86e4-06226919b22f" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<blackboard:courses-get-course-children doc:name="Courses Get Course Children" doc:id="f87df1ef-8d86-4ae7-b41f-5e98f02db66d" config-ref="Blackboard_config" courseId="#[vars.courseId]" correlationId="#[correlationId]"/>
			</when>
			<otherwise >
				<blackboard:courses-get-course-children doc:name="Courses Get Course Children" doc:id="17181255-1807-45bf-9832-1f79eae0e8ad" config-ref="Blackboard_config" courseId="#[vars.courseId]" correlationId="#[correlationId]" includePermissions="#[isEmpty(attributes.queryParams.includePermissions)]" expand='#[attributes.queryParams.expand default ""]' offset="#[attributes.queryParams.offset as Number default 1]" fields='#[attributes.queryParams.fields default ""]' limit="#[attributes.queryParams.limit as Number default 10]"/>
			</otherwise>
		</choice>
    
</flow>
    <flow name="get:\v1\courses\(courseId)\children\(childCourseId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="05d39244-dbac-4f34-a82d-7ebc02187032" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/children/{childCourseId}" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="childCourseId">attributes.uriParams.'childCourseId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="070c93e3-48af-4ec0-be9d-3b223f539edd" name="accesstoken_Flow" target="blackboardToken"/>
		<blackboard:courses-get-course-child doc:name="Courses Get Course Child" doc:id="87ef0c04-2820-49f4-abeb-bbf232ca05fd" config-ref="Blackboard_config" courseId="#[vars.courseId]" childCourseId="#[vars.childCourseId]" correlationId="#[correlationId]"/>
    </flow>
    <flow name="get:\v1\courses\(courseId)\gradebook\categories:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="d0a70977-3e8f-47d7-9283-cdbd74a6e681" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/gradebook/categories" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="6f2fa8ba-b055-4e4e-8882-43648227df94" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="fbaf2c81-520f-4a3c-881c-b35e9607823b" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<blackboard:course-gradebook-get-gradebook-categories doc:name="Course Gradebook Get Gradebook Categories" doc:id="8cea6a43-5a9d-4047-bae2-235789ce4ad3" config-ref="Blackboard_config" courseId="#[vars.courseId]" correlationId="#[correlationId]"/>
			</when>
			<otherwise >
				<blackboard:course-gradebook-get-gradebook-categories doc:name="Course Gradebook Get Gradebook Categories" doc:id="48837265-a452-47f1-a34c-c40330626f22" config-ref="Blackboard_config" courseId="#[vars.courseId]" offset="#[attributes.queryParams.offset as Number default 1]" includePermissions="#[isEmpty(attributes.queryParams.includePermissions)]" limit="#[attributes.queryParams.limit as Number default 10]" correlationId="#[correlationId]"/>
			</otherwise>
		</choice>
    </flow>
    <flow name="get:\v1\courses\(courseId)\meetings:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="bbb26797-e757-40fe-a505-6c18ec003388" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/meetings" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="adc625e0-8f78-4ade-947f-6cc9dbed7b4f" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="ebe8a726-5283-4597-aff6-517ab1e59fc7" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<logger level="INFO" doc:name="Logger" doc:id="64330120-0594-4ef0-974b-cc341aedfa71" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="9e4c3db2-6060-4161-9e6e-a3ba4ea4530e" />
			</otherwise>
		</choice>
    </flow>
    <flow name="get:\v1\courses\(courseId)\meetings\users\(userId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="95630498-c44a-4009-95ac-061ea87cb892" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/meetings/users/{userId}" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="28386f24-b753-4b02-8516-3e5caadcb8e4" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="a629eea2-46cb-4711-97a2-f33de2431083" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<logger level="INFO" doc:name="Logger" doc:id="f10fdaed-395d-4379-86ec-b199b886ae7d" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="767cb1c0-d236-47e1-b0eb-3c73f9eab249" />
			</otherwise>
		</choice>
    </flow>
    <flow name="get:\v1\courses\(courseId)\meetings\(meetingId)\users:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="7beaea58-66d8-47ac-8a81-8cb6c6212790" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/meetings/{meetingId}/users" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="meetingId">attributes.uriParams.'meetingId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="cf7b03e7-b6e7-484b-a826-b520e7209744" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="eece48a4-b10b-4521-b5d4-6cfed06eb1c7" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<logger level="INFO" doc:name="Logger" doc:id="48d80902-7218-40b4-b06c-a16a46ca0676" />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="06f2dd98-5537-4ba5-baab-0a438efa7794" />
			</otherwise>
		</choice>
    </flow>
    <flow name="get:\v1\courses\(courseId)\meetings\(meetingId)\users\(userId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="4611ed4b-80dd-4397-9872-1232da029c81" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/meetings/{meetingId}/users" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="meetingId">attributes.uriParams.'meetingId'</ee:set-variable>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="118cb16b-ba2b-4e55-9d96-11b2a06f53a1" name="accesstoken_Flow" target="blackboardToken"/>
    </flow>
    <flow name="get:\v1\courses\(courseId)\users:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="6fa379ec-bc65-4309-abb9-1085cb506887" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/users" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="e1d81b89-934b-479b-a51e-d1738f7b7bb2" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="de279000-d6ee-47a5-b8dd-44440d94f1e0" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<blackboard:course-membership-get-course-memberships doc:name="Course Membership Get Course Memberships" doc:id="26526b61-ce8f-402b-875f-fcd2a913844a" config-ref="Blackboard_config" courseId="#[vars.courseId]" correlationId="#[correlationId]"/>
			</when>
			<otherwise >
				<blackboard:course-membership-get-course-memberships doc:name="Course Membership Get Course Memberships" doc:id="ecff6276-da84-473b-a4fe-baf31c7dd5d1" config-ref="Blackboard_config" courseId="#[vars.courseId]" correlationId="#[correlationId]" lastAccessed='#[attributes.queryParams.lastAccessed default ""]' availability_available="#[attributes.queryParams.'availabilty.available' default &quot;&quot;]" role='#[attributes.queryParams.role default ""]' dataSourceId='#[attributes.queryParams.dataSourceId default ""]' includePermissions="#[isEmpty(attributes.queryParams.includePermissions)]" createdCompare='#[attributes.queryParams.createdCompare default ""]' modifiedCompare='#[attributes.queryParams.modifiedCompare default ""]' lastAccessedCompare='#[attributes.queryParams.lastAccessedCompare default ""]' expand='#[attributes.queryParams.expand default ""]' modified='#[attributes.queryParams.modified default ""]' offset="#[attributes.queryParams.offset as Number default 1]" fields='#[attributes.queryParams.fields default ""]' sort='#[attributes.queryParams.sort default ""]' limit="#[attributes.queryParams.limit as Number default 10]" created='#[attributes.queryParams.created default ""]'/>
			</otherwise>
		</choice>
    </flow>
    <flow name="get:\v1\courses\(courseId)\users\(userId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="192cf561-2439-4f17-bc67-2b4ec09057cc" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/users/{userId}" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="9bec45c0-4b8f-4b90-a5b3-1ff7673ea59e" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="7ddde78d-adf4-4267-8f04-823d59794f32" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<blackboard:course-membership-get-course-membership doc:name="Course Membership Get Course Membership" doc:id="67fedade-c0a9-4a4d-b6b2-699605cbe8d5" config-ref="Blackboard_config" courseId="#[vars.courseId]" userId="#[vars.userId]" correlationId="#[correlationId]"/>
			</when>
			<otherwise >
				<blackboard:course-membership-get-course-membership doc:name="Course Membership Get Course Membership" doc:id="c2392012-178c-46d8-82ac-64c61b9a4900" config-ref="Blackboard_config" courseId="#[vars.courseId]" userId="#[vars.userId]" correlationId="#[correlationId]" fields='#[attributes.queryParams.fields default ""]' expand='#[attributes.queryParams.expand default ""]'/>
			</otherwise>
		</choice>
    </flow>
    <flow name="get:\v1\institutionRoles:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="78e892b3-5fb5-41a0-b263-e7bb855373cd" config-ref="HTTP_Listener_config" path="/v1/institutionRoles" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="blackboard-token-subFlow" doc:id="61f06e09-c76b-4fa7-a839-fbc5899f07d8" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="aa29aded-1f58-407a-a348-bb868e37ff19" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<blackboard:roles-get-institution-roles doc:name="Roles Get Institution Roles" doc:id="d944f8e4-640b-4c93-8bba-57ea0c5ba545" config-ref="Blackboard_config" correlationId="#[correlationId]"/>
			</when>
			<otherwise >
				<blackboard:roles-get-institution-roles doc:name="Roles Get Institution Roles" doc:id="a0bb2c5c-f62a-46e4-9208-ef55ef8e95ab" config-ref="Blackboard_config" correlationId="#[correlationId]" offset="#[attributes.queryParams.offset as Number default 1]" includePermissions="#[isEmpty(attributes.queryParams.includePermissions)]" limit="#[attributes.queryParams.limit as Number default 10]" sort='#[attributes.queryParams.sort default ""]' custom="#[isEmpty(attributes.queryParams.custom)]" roleId='#[attributes.queryParams.roleId default ""]' fields='#[attributes.queryParams.fields default ""]'/>
			</otherwise>
		</choice>
    </flow>
    <flow name="get:\v1\institutionRoles\(roleId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="0d6f24e8-c53d-49e3-bc3e-498492fd1993" config-ref="HTTP_Listener_config" path="/v1/institutionRoles/{roleId}" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="roleId">attributes.uriParams.'roleId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="0aaacb38-7d21-4f28-b475-da44d40599e6" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="110af55a-5078-44c6-91e3-ee827a57683e" >
			<when expression="#[isEmpty(attributes.queryParams.fields)]">
				<blackboard:roles-get-institution-role doc:name="Roles Get Institution Role" doc:id="f1079094-0357-4fb3-9358-a8a06869665f" config-ref="Blackboard_config" roleId="#[vars.roleId]" correlationId="#[correlationId]"/>
			</when>
			<otherwise >
				<blackboard:roles-get-institution-role doc:name="Roles Get Institution Role" doc:id="f1eb6467-edf2-48a6-a46d-cb4c45b253cc" config-ref="Blackboard_config" roleId="#[vars.roleId]" correlationId="#[correlationId]" fields='#[attributes.queryParams.fields default ""]'/>
			</otherwise>
		</choice>
    </flow>
    <flow name="get:\v1\terms:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="4b0367fa-4137-4a3b-8051-979522ed1501" config-ref="HTTP_Listener_config" path="/v1/terms" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="blackboard-token-subFlow" doc:id="94d43dfd-af64-4dc9-8575-a76845d5ce8c" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="7bec3ecc-a289-4fc7-a0fa-adda8ca79c4b" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<blackboard:terms-get-terms doc:name="Terms Get Terms" doc:id="cb276330-7db9-42a4-a86f-b25584ae83e4" config-ref="Blackboard_config" correlationId="#[correlationId]" />
			</when>
			<otherwise >
				<choice doc:name="Choice" doc:id="f656c61a-70e2-4262-9740-15be64cf4150" >
					<when expression="#[(isEmpty(attributes.queryParams.dataSourceId)) and (isEmpty(attributes.queryParams.externalId)) and (isEmpty(attributes.queryParams.fields))]">
						<blackboard:terms-get-terms doc:name="Terms Get Terms" doc:id="6a3e938f-ef07-4f5c-8368-5158944076a9" config-ref="Blackboard_config" correlationId="#[correlationId]" offset="#[attributes.queryParams.offset as Number default 1]" limit="#[attributes.queryParams.limit as Number default 10]" includePermissions="#[isEmpty(attributes.queryParams.includePermission)]" availability.available="#[attributes.queryParams.'availability.available' default &quot;Yes&quot;]"/>
					</when>
					<when expression="#[(!isEmpty(attributes.queryParams.fields))]">
						<blackboard:terms-get-terms doc:name="Terms Get Terms" doc:id="f8476118-6ea6-442b-91bd-06229b84f986" config-ref="Blackboard_config" correlationId="#[correlationId]" fields="#[attributes.queryParams.fields]"/>
					</when>
					<otherwise>
						<blackboard:terms-get-terms doc:name="Terms Get Terms" doc:id="fd3fa65f-a4a9-4a45-8edb-fdfd1aacc9a6" config-ref="Blackboard_config" correlationId="#[correlationId]" includePermissions="#[isEmpty(attributes.queryParams.includePermission)]" externalId="#[attributes.queryParams.externalId]" dataSourceId="#[attributes.queryParams.dataSourceId]" availability.available="#[attributes.queryParams.'availability.available' default &quot;Yes&quot;]" fields="#[attributes.queryParams.fields]"/>
					</otherwise>
				</choice>
			</otherwise>
		</choice>
    </flow>
    <flow name="get:\v1\terms\(termId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="40783e5b-97e1-47cb-9afe-9e758fb10dca" config-ref="HTTP_Listener_config" path="/v1/terms/{termId}" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="termId">attributes.uriParams.'termId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="afa492de-5884-404b-bc0c-cf1dfa0702fa" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="eebbdf21-a8ea-41cc-96bb-b22549bdf998" >
			<when expression="#[isEmpty(attributes.queryParams.fields)]">
				<blackboard:terms-get-term doc:name="Terms Get Term" doc:id="4695e25e-6f03-43d5-840d-c9996fb8764e" config-ref="Blackboard_config" termId="#[vars.termId]" correlationId="#[correlationId]"/>
			</when>
			<otherwise >
				<blackboard:terms-get-term doc:name="Terms Get Term" doc:id="f737fb66-ca90-478f-b7d8-a3f6f8dc907b" config-ref="Blackboard_config" termId="#[vars.termId]" correlationId="#[correlationId]" fields='#[attributes.queryParams.fields default ""]'/>
			</otherwise>
		</choice>
    </flow>
    <flow name="get:\v1\users:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="dacf59a4-f45e-40db-9715-605c5cfd4e8e" config-ref="HTTP_Listener_config" path="/v1/users" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="blackboard-token-subFlow" doc:id="c784cbc5-71ac-47e2-b2a4-87cc40ec0b1d" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="e716e288-956f-4244-a6b1-5899ef1800d4" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<blackboard:users-get-users doc:name="Users Get Users" doc:id="9ed5016d-3172-4d16-89ef-0fad85dcc189" config-ref="Blackboard_config" correlationId="#[correlationId]"/>
			</when>
			<otherwise >
				<choice doc:name="Choice" doc:id="26aba592-6f99-4825-b43b-6ed071864f80" >
					<when expression="#[isEmpty(attributes.queryParams.dataSourceId)]">
						<blackboard:users-get-users doc:name="Users Get Users" doc:id="f5d3b6ef-689a-46e0-9260-22a11952ac32" config-ref="Blackboard_config" correlationId="#[correlationId]" offset="#[attributes.queryParams.offset as Number default 1]" limit="#[attributes.queryParams.limit as Number default 10]" includePermissions="#[isEmpty(attributes.queryParams.includePermissions)]" userName='#[attributes.queryParams.userName default ""]' externalId='#[attributes.queryParams.externalId default ""]' created='#[attributes.queryParams.created default ""]' createdCompare='#[attributes.queryParams.createdCompare default ""]' modified='#[attributes.queryParams.modified default ""]' modifiedCompare='#[attributes.queryParams.modifiedCompare default ""]' lastLogin='#[attributes.queryParams.lastLogin default ""]' lastLoginCompare='#[attributes.queryParams.lastLoginCompare default ""]' name.family="#[attributes.queryParams.'name.family' default &quot;&quot;]" studentId='#[attributes.queryParams.studentId default ""]' contact.email="#[attributes.queryParams.'contact.email' default &quot;&quot;]" availability.available="#[attributes.queryParams.'availability.available' default &quot;&quot;]" sort='#[attributes.queryParams.sort default ""]' fields='#[attributes.queryParams.fields default ""]'/>
					</when>
					<otherwise >
						<blackboard:users-get-users doc:name="Users Get Users" doc:id="e2f777c4-c0e7-4dca-9444-730c297b61a2" config-ref="Blackboard_config" offset="#[attributes.queryParams.offset as Number default 1]" limit="#[attributes.queryParams.limit as Number default 10]" includePermissions="#[isEmpty(attributes.queryParams.includePermissions)]" userName='#[attributes.queryParams.userName default ""]' externalId='#[attributes.queryParams.externalId default ""]' created='#[attributes.queryParams.created default ""]' createdCompare='#[attributes.queryParams.createdCompare default ""]' modified='#[attributes.queryParams.modified default ""]' modifiedCompare='#[attributes.queryParams.modifiedCompare default ""]' lastLogin='#[attributes.queryParams.lastLogin default ""]' lastLoginCompare='#[attributes.queryParams.lastLoginCompare default ""]' name.family="#[attributes.queryParams.'name.family' default &quot;&quot;]" studentId='#[attributes.queryParams.studentId default ""]' contact.email="#[attributes.queryParams.'contact.email' default &quot;&quot;]" availability.available="#[attributes.queryParams.'availability.available' default &quot;&quot;]" sort='#[attributes.queryParams.sort default ""]' fields='#[attributes.queryParams.fields default ""]' correlationId="#[correlationId]" dataSourceId='#[attributes.queryParams.dataSourceId default ""]'/>
					</otherwise>
				</choice>
			</otherwise>
		</choice>
    </flow>
    <flow name="get:\v1\users\(userId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="b8793274-2129-4d4e-a7c0-63eb4df98880" config-ref="HTTP_Listener_config" path="/v1/users/{userId}" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="d84a6828-ba96-4a8d-ad0d-d2830ac00922" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="f4db3f2d-6990-40ea-ad14-fb6b0657149b" >
			<when expression="#[isEmpty(attributes.queryParams.fields)]">
				<blackboard:users-get-user doc:name="Users Get User" doc:id="3581e65a-cc3b-4094-a6c9-27379b4ad3e8" config-ref="Blackboard_config" userId="#[vars.userId]" correlationId="#[correlationId]"/>
			</when>
			<otherwise >
				<blackboard:users-get-user doc:name="Users Get User" doc:id="2417db8a-a2f8-45f4-abcf-4546b77c1957" config-ref="Blackboard_config" userId="#[vars.userId]" correlationId="#[correlationId]" fields='#[attributes.queryParams.fields default ""]'/>
			</otherwise>
		</choice>
    </flow>
    <flow name="get:\v1\users\(userId)\courses:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="aa79fe41-b2dd-4a4f-9bb9-fb892c68ffe9" config-ref="HTTP_Listener_config" path="/v1/users/{userId}/courses" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="50e25299-83cf-4921-9483-4cfbaaea545f" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="f3ef3150-3ff3-4399-b0d9-08de09790b83" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<blackboard:course-membership-get-user-memberships doc:name="Course Membership Get User Memberships" doc:id="fd23d06f-9bba-4df7-9214-0e7799c6ad99" config-ref="Blackboard_config" userId="#[vars.userId]" correlationId="#[correlationId]"/>
			</when>
			<otherwise >
				<blackboard:course-membership-get-user-memberships doc:name="Course Membership Get User Memberships" doc:id="7ba7fea5-5f49-43f6-b8bb-8edad6bee2b9" config-ref="Blackboard_config" userId="#[vars.userId]" correlationId="#[correlationId]" lastAccessed='#[attributes.queryParams.lastAccessed default ""]' availability_available="#[attributes.queryParams.'availability.available' default &quot;&quot;]" role='#[attributes.queryParams.role default ""]' dataSourceId='#[attributes.queryParams.dataSourceId default ""]' includePermissions="#[isEmpty(attributes.queryParams.includePermissions)]" createdCompare='#[attributes.queryParams.createdCompare default ""]' modifiedCompare='#[attributes.queryParams.modifiedCompare default ""]' lastAccessedCompare='#[attributes.queryParams.lastAccessedCompare default ""]' expand='#[attributes.queryParams.expand default ""]' modified='#[attributes.queryParams.modified default ""]' offset="#[attributes.queryParams.offset as Number default 1]" fields='#[attributes.queryParams.fields default ""]' sort='#[attributes.queryParams.sort default ""]' limit="#[attributes.queryParams.limit as Number default 10]" created='#[attributes.queryParams.created default ""]'/>
			</otherwise>
		</choice>
    </flow>
    <flow name="get:\v2\courses\(courseId)\gradebook\columns:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="6ac18e8c-3b26-4dc9-8bc1-4ba94e51f7db" config-ref="HTTP_Listener_config" path="/v2/courses/{courseId}/gradebook/columns" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="8491b8fb-f08b-4dc8-ae0e-bd4d302ddeee" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="9281a255-4003-46e7-a677-85576e7a0061" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<blackboard:course-gradebook-get-grade-columns doc:name="Course Gradebook Get Grade Columns" doc:id="433bd7cf-7c49-4857-a5ef-1ad3ff3eb83e" config-ref="Blackboard_config" courseId="#[vars.courseId]" correlationId="#[correlationId]"/>
			</when>
			<otherwise >
				<blackboard:course-gradebook-get-grade-columns doc:name="Course Gradebook Get Grade Columns" doc:id="d169079f-0948-44c8-af09-22d48a1c0d8a" config-ref="Blackboard_config" courseId="#[vars.courseId]" displayName='#[attributes.queryParams.displayName default ""]' name='#[attributes.queryParams.name default ""]' createdCompare='#[attributes.queryParams.createdCompare default ""]' modifiedCompare='#[attributes.queryParams.modifiedCompare default ""]' expand='#[attributes.queryParams.expand default ""]' modified='#[attributes.queryParams.modified default ""]' offset='#[attributes.queryParams.offset as Number default 1]' fields='#[attributes.queryParams.fields default ""]' contentId='#[attributes.queryParams.contentId default ""]' limit='#[attributes.queryParams.limit as Number default 10]' created='#[attributes.queryParams.created default ""]' correlationId="#[correlationId]" includePermissions="#[isEmpty(attributes.queryParams.includePermissions)]"/>
			</otherwise>
		</choice>
    </flow>
    <flow name="get:\v2\courses\(courseId)\gradebook\columns\(columnId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="e6718f1e-fe78-4f27-9335-485a3c51a77e" config-ref="HTTP_Listener_config" path="/v2/courses/{courseId}/gradebook/columns/{columnId}" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="columnId">attributes.uriParams.'columnId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="cadf6e08-a66d-46d3-9034-a3d815a4c3fd" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="0f9e3ba7-4188-4557-9800-aeec26ac2c5e" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<blackboard:course-gradebook-get-grade-column doc:name="Course Gradebook Get Grade Column" doc:id="58c0b775-5f99-4662-8c6f-51e1ba5ce6bf" config-ref="Blackboard_config" courseId="#[vars.courseId]" columnId="#[vars.columnId]" correlationId="#[correlationId]"/>
			</when>
			<otherwise >
				<blackboard:course-gradebook-get-grade-column doc:name="Course Gradebook Get Grade Column" doc:id="c6e90c5f-2b6b-4436-89c4-2cdcfa8265e0" config-ref="Blackboard_config" courseId="#[vars.courseId]" columnId="#[vars.columnId]" correlationId="#[correlationId]" fields='#[attributes.queryParams.fields default ""]' expand='#[attributes.queryParams.expand default ""]'/>
			</otherwise>
		</choice>
    </flow>
    <flow name="get:\v2\courses\(courseId)\gradebook\columns\(columnId)\users:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="f968bad3-13fa-4e7a-b441-fef6163ea2b7" config-ref="HTTP_Listener_config" path="/v2/courses/{courseId}/gradebook/columns/{columnId}/users" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="columnId">attributes.uriParams.'columnId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="77922417-d8bc-440f-8e22-45f35f27aeb0" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="055b0706-10b3-4b4a-9365-776b5dd0e5b6" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<blackboard:course-gradebook-get-column-grades doc:name="Course Gradebook Get Column Grades" doc:id="52ed0c27-a61d-410a-856b-1236772812ec" config-ref="Blackboard_config" courseId="#[vars.courseId]" columnId="#[vars.columnId]" correlationId="#[correlationId]"/>
			</when>
			<otherwise >
				<blackboard:course-gradebook-get-column-grades doc:name="Course Gradebook Get Column Grades" doc:id="bdef6a0d-ff41-4d73-b661-9faa3bef3a7b" config-ref="Blackboard_config" courseId="#[vars.courseId]" columnId="#[vars.columnId]" correlationId="#[correlationId]" firstRelevantDateCompare='#[attributes.queryParams.firstRelevantDateCompare default ""]' lastRelevantDate='#[attributes.queryParams.lastRelevantDate default ""]' changeIndex='#[attributes.queryParams.changeIndex default ""]' includeUnpostedGrades="#[isEmpty(attributes.queryParams.includeUnspstedGrades)]" firstRelevantDate='#[attributes.queryParams.firstRelevantDate default ""]' includePermissions="#[isEmpty(attributes.queryParams.includePermissions)]" includeDisabledMemberships="#[isEmpty(attributes.queryParams.includeDisabledMemberships)]" offset="#[attributes.queryParams.offset as Number default 1]" lastRelevantDateCompare='#[attributes.queryParams.lastRelevantDateCompare default ""]' fields='#[attributes.queryParams.fields default ""]' unsupportedSearchOverChildCourses="#[isEmpty(attributes.queryParams.unsupportedSearchoverChildCourses)]" limit="#[attributes.queryParams.limit as Number default 10]"/>
			</otherwise>
		</choice>
    </flow>
    <flow name="get:\v2\courses\(courseId)\gradebook\columns\(columnId)\users\(userId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="94312961-d094-4f87-8c2e-0b4177509240" config-ref="HTTP_Listener_config" path="/v2/courses/{courseId}/gradebook/columns/{columnId}/users/{userId}" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="columnId">attributes.uriParams.'columnId'</ee:set-variable>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="4b924d08-ba60-48c4-9b32-ff607cd29101" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="5e3c77ec-e393-4d56-a07c-748d92e6ec4e" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<blackboard:course-gradebook-get-column-grade doc:name="Course Gradebook Get Column Grade" doc:id="d822df23-6ce9-4034-9a52-389553ca9638" config-ref="Blackboard_config" courseId="#[vars.courseId]" columnId="#[vars.columnId]" userId="#[vars.userId]" correlationId="#[correlationId]"/>
			</when>
			<otherwise >
				<blackboard:course-gradebook-get-column-grade doc:name="Course Gradebook Get Column Grade" doc:id="253eda4f-c6f5-496b-95b7-0e6a2d1c30d4" config-ref="Blackboard_config" courseId="#[vars.courseId]" columnId="#[vars.columnId]" userId="#[vars.userId]" correlationId="#[correlationId]" unsupportedSearchOverChildCourses="#[isEmpty(attributes.queryParams.unsupportedSearchOverChildCourse)]" fields='#[attributes.queryParams.fields default ""]'/>
			</otherwise>
		</choice>
    </flow>
    <flow name="get:\v2\courses\(courseId)\gradebook\users\(userId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="e7dd76b2-095e-4224-83aa-7d5eb8340f78" config-ref="HTTP_Listener_config" path="/v2/courses/{courseId}/gradebook/users/{userId}" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="22591549-2d36-4985-95ac-2b842ab673de" name="accesstoken_Flow" target="blackboardToken"/>
    </flow>
    <flow name="get:\v3\courses:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="32701bd6-51e1-4f23-8967-7e5944b32738" config-ref="HTTP_Listener_config" path="/v3/courses" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="blackboard-token-subFlow" doc:id="b96a22f2-1e27-428a-b855-ac49bd7196f3" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="3a87dcf4-4005-4108-9dd4-92debe15e2b3" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<blackboard:courses-get-courses doc:name="Courses Get Courses" doc:id="7b1e28ac-e4af-43d6-a8a8-4b59c6d5a604" config-ref="Blackboard_config" correlationId="#[correlationId]"/>
			</when>
			<otherwise >
				<blackboard:courses-get-courses doc:name="Courses Get Courses" doc:id="2b1b0c2a-4ec9-4dbe-91c7-9fc63fa45e84" config-ref="Blackboard_config" offset="#[attributes.queryParams.offset as Number default 1]" limit="#[attributes.queryParams.limit as Number default 10]" correlationId="#[correlationId]" includePermissions="#[isEmpty(attributes.queryParams.includePermissions)]" modified='#[attributes.queryParams.modified default ""]' modifiedCompare='#[attributes.queryParams.modifiedCompare default ""]' courseId='#[attributes.queryParams.courseId default ""]' name='#[attributes.queryParams.name default ""]' description='#[attributes.queryParams.description default ""]' externalId='#[attributes.queryParams.externalId default ""]' created='#[attributes.queryParams.craeted default ""]' createdCompare='#[attributes.queryParams.createdCompare default ""]' allowGuests="#[isEmpty(attributes.queryParams.allowGuests)]" availability.available="#[attributes.queryParams.'availability.available' default &quot;&quot;]" dataSourceId='#[attributes.queryParams.dataSourceId default ""]' termId='#[attributes.queryParams.termId default ""]' organization="#[isEmpty(attributes.queryParams.organization)]" sort='#[attributes.queryParams.sort default ""]' fields='#[attributes.queryParams.fields default ""]'/>
			</otherwise>
		</choice>
    
</flow>
    <flow name="get:\v3\courses\(courseId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="2e308275-1acf-4eb4-8d9f-77386675a948" config-ref="HTTP_Listener_config" path="/v3/courses/{courseId}" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="9963bca7-b3f4-4d32-88e1-d052599ef3d0" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="163ef0af-9517-40df-9713-aeff420dc06d" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<blackboard:courses-get-course doc:name="Courses Get Course" doc:id="5c7f4daf-4b8a-4e8c-9819-ddda4a69c3d7" config-ref="Blackboard_config" courseId="#[vars.courseId]" correlationId="#[correlationId]"/>
			</when>
			<otherwise >
				<blackboard:courses-get-course doc:name="Courses Get Course" doc:id="e60d9c64-aa35-44fb-9524-166875eb1a3f" config-ref="Blackboard_config" courseId="#[vars.courseId]" correlationId="#[correlationId]" fields='#[attributes.queryParams.fields default ""]'/>
			</otherwise>
		</choice>
    </flow>
    <flow name="post:\oauth2\token:application\x-www-form-urlencoded:blackboard-rest-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  access_token: "abc123tokenexample",
  token_type: "bearer",
  expires_in: 3600,
  scope: "read write delete"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\v1\catalog\categories\(categoryType):application\json:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="e67e52a6-74e4-4f8d-a1d9-290be56646b0" config-ref="HTTP_Listener_config" path="/v1/catalog/categories/{categoryType}" allowedMethods="POST" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="categoryType">attributes.uriParams.'categoryType'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="cbae845a-5f85-48f7-8823-e7453aa43c03" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="ecbd6319-0943-477e-bd68-8dab9f9f0e36" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<blackboard:course-category-create-category doc:name="Course Category Create Category" doc:id="24628344-6165-40c7-9e61-418e11efbd35" config-ref="Blackboard_config" categoryType="#[vars.categoryType]" correlationId="#[correlationId]">
					<blackboard:course_category_-_create_category--body ><![CDATA[#[payload]]]></blackboard:course_category_-_create_category--body>
				</blackboard:course-category-create-category>
			</when>
			<otherwise >
				<blackboard:course-category-create-category doc:name="Course Category Create Category" doc:id="22c725b9-975a-4d4c-8b75-70c5d9ec3aa8" config-ref="Blackboard_config" categoryType="#[vars.categoryType]" correlationId="#[correlationId]" fields='#[attributes.queryParams.fields default ""]'>
					<blackboard:course_category_-_create_category--body ><![CDATA[#[payload]]]></blackboard:course_category_-_create_category--body>
				</blackboard:course-category-create-category>
			</otherwise>
		</choice>
    </flow>
    <flow name="post:\v1\courses\(courseId)\meetings\(meetingId)\users:application\json:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="a43c1753-d524-4efa-b3c4-2d9c380a3084" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/meetings/{meetingId}/users" allowedMethods="POST" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="meetingId">attributes.uriParams.'meetingId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="7952c40d-f78b-4510-806a-665fe5f687dc" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="a823a10d-1fd7-412b-84fb-4cb46badd87d" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<logger level="INFO" doc:name="Logger" doc:id="0926882d-a37d-49ba-97c1-b70d61426faa" />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="d5de53de-6a63-4ace-8a13-31809d173c99" />
			</otherwise>
		</choice>
    </flow>
    <flow name="post:\v1\courses\(courseId)\meetings:application\json:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="415e0892-2ef7-4e94-8b6e-c6c45a118b36" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/meetings" allowedMethods="POST" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="be904812-36c3-42f2-99aa-258292fd16a5" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="10b5a089-8956-445d-85c9-b4e176776e14" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<logger level="INFO" doc:name="Logger" doc:id="47d1ed5b-bfba-43f3-86fa-18ddf3e643f0" />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="afa6183b-dfe1-493e-9385-6b3956acbec0" />
			</otherwise>
		</choice>
    </flow>
    <flow name="post:\v1\terms:application\json:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="c3bc1b40-3fb1-4fb8-9df4-b064b01b5b0e" config-ref="HTTP_Listener_config" path="/v1/terms" allowedMethods="POST" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="blackboard-token-subFlow" doc:id="49712df4-4aa8-4523-8b87-0aaaf15a70ff" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="9179dfcc-3add-43ab-a38e-d4cd13b13f86" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<blackboard:terms-create-term doc:name="Terms Create Term" doc:id="4f98ebf6-78b7-43b2-a437-5901c143f424" config-ref="Blackboard_config" correlationId="#[correlationId]">
					<blackboard:terms_-_create_term--body ><![CDATA[#[payload]]]></blackboard:terms_-_create_term--body>
				</blackboard:terms-create-term>
			</when>
			<otherwise >
				<blackboard:terms-create-term doc:name="Terms Create Term" doc:id="ed059376-66f6-471b-81f5-bafd29a93b8e" config-ref="Blackboard_config" correlationId="#[correlationId]" fields='#[attributes.queryParams.fields default ""]'>
					<blackboard:terms_-_create_term--body ><![CDATA[#[payload]]]></blackboard:terms_-_create_term--body>
				</blackboard:terms-create-term>
			</otherwise>
		</choice>
    </flow>
    <flow name="post:\v1\users:application\json:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="a16d9c60-2eae-444f-8113-f6db0c39c136" config-ref="HTTP_Listener_config" path="/v1/users" allowedMethods="POST" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="blackboard-token-subFlow" doc:id="b3accaf5-e422-4877-8b94-4fb8fd367eb3" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="a3f3ef2e-d89f-4246-b465-e44fa339d457">
			<when expression="#[isEmpty(attributes.queryParams)]" >
				<blackboard:users-create-user doc:name="Users Create User" doc:id="d6c57496-1f97-4bbc-9547-e44f9d7379b5" config-ref="Blackboard_config" correlationId="#[correlationId]">
					<blackboard:users_-_create_user--body ><![CDATA[#[payload]]]></blackboard:users_-_create_user--body>
				</blackboard:users-create-user>
			</when>
			<otherwise >
				<blackboard:users-create-user doc:name="Users Create User" doc:id="c3d9b4ff-5ce1-42f7-9fa2-a9e66ad17ead" config-ref="Blackboard_config" correlationId="#[correlationId]" fields='#[attributes.queryParams.fields default ""]'>
					<blackboard:users_-_create_user--body ><![CDATA[#[payload]]]></blackboard:users_-_create_user--body>
				</blackboard:users-create-user>
			</otherwise>
		</choice>
		<set-variable value="#[attributes.statusCode]" doc:name="httpStatus" doc:id="a0530b2f-ea04-44d9-ad04-004412016873" variableName="httpStatus" />
    </flow>
    <flow name="post:\v3\courses:application\json:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="acc5d410-d0ad-4497-b8b2-10b8165ef16d" config-ref="HTTP_Listener_config" path="/v3/courses" allowedMethods="POST" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="blackboard-token-subFlow" doc:id="122ee0ff-e563-499d-95cf-1ab801ae9c31" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="0823a913-3721-4026-bc76-59f74e05f1fc" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<blackboard:courses-create-course doc:name="Courses Create Course" doc:id="ac79bab3-0e2a-4fb3-9845-b9883272e0b6" config-ref="Blackboard_config" correlationId="#[correlationId]">
					<blackboard:courses_-_create_course--body ><![CDATA[#[payload]]]></blackboard:courses_-_create_course--body>
				</blackboard:courses-create-course>
			</when>
			<otherwise >
				<blackboard:courses-create-course doc:name="Courses Create Course" doc:id="abd32fad-b74f-4d0f-a0db-23230581af3a" config-ref="Blackboard_config" correlationId="#[correlationId]" fields='#[attributes.queryParams.fields default ""]'>
					<blackboard:courses_-_create_course--body ><![CDATA[#[payload]]]></blackboard:courses_-_create_course--body>
				</blackboard:courses-create-course>
			</otherwise>
		</choice>
		<set-variable value="#[attributes.statusCode default 201]" doc:name="httpStatus" doc:id="02927bf5-fc52-4f10-807f-285b5619b5bc" variableName="httpStatus" />
    </flow>
    <flow name="patch:\v1\courses\(courseId)\meetings\(meetingId):application\json:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="8da9b204-9c0e-4468-8799-0ce4141ce791" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/meetings/{meetingId}" allowedMethods="PATCH" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="meetingId">attributes.uriParams.'meetingId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="6519a84c-2de6-4ea3-b9e8-518f2c365f43" name="accesstoken_Flow" target="blackboardToken"/>
		<choice doc:name="Choice" doc:id="a1aa3c23-7de0-4a97-87c8-0829c83fd8a2">
			<when expression="#[isEmpty(attributes.queryParams)]">
				<logger level="INFO" doc:name="Logger" doc:id="f7e14968-2323-4b7e-aa55-3a746beb623c" />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="8b2b00f8-1cb1-4a10-be90-1246fc4a18dd" />
			</otherwise>
		</choice>
    </flow>
	
</mule>
