src/main/mule/blackboard-lms-uc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:blackboard="http://www.mulesoft.org/schema/connectivity/blackboard"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/connectivity/blackboard http://www.mulesoft.org/schema/connectivity/blackboard/current/mule-blackboard.xsd">
	 <flow name="put:\v1\catalog\categories\(categoryType)\(categoryId)\courses\(courseId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="06baed8f-44b1-44c8-b95d-bc85d77acd4a" config-ref="HTTP_Listener_config" allowedMethods="PUT" path="/v1/catalog/categories/{categoryType}\{categoryId}\courses\{courseId}">
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="categoryType">attributes.uriParams.'categoryType'</ee:set-variable>
                <ee:set-variable variableName="categoryId">attributes.uriParams.'categoryId'</ee:set-variable>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="cacdc704-1338-4e0c-8f50-3e58de95c436" name="accesstoken_Flow" target="blackboardToken"/>
		<set-variable value="#[attributes.statusCode]" doc:name="httpStatus" doc:id="1b52a9b5-823b-4343-8465-164e4c9027c3" variableName="httpStatus" />
    </flow>
    <flow name="put:\v1\courses\(courseId)\children\(childCourseId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="64f8cc81-c99c-40e1-8472-4975f8504f06" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/children/{childCourseId}" allowedMethods="PUT" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="childCourseId">attributes.uriParams.'childCourseId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="0a83acde-caaf-4b89-b2f9-157735d7707c" name="accesstoken_Flow" target="blackboardToken"/>
    </flow>
    <flow name="put:\v1\courses\(courseId)\users\(userId):application\json:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="003d20f0-0193-4d84-8bc1-f4de4ad28cf0" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/users/{userId}" allowedMethods="PUT" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="541f442b-0db8-4a33-a798-ba918ae97e13" name="accesstoken_Flow" target="blackboardToken"/>
    </flow>
    <flow name="delete:\v1\catalog\categories\(categoryType)\(categoryId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="9bd70bd5-d222-472b-bc17-8204e7e170e8" config-ref="HTTP_Listener_config" path="/v1/catalog/categories/{categoryType}/{categoryId}" allowedMethods="DELETE" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="categoryType">attributes.uriParams.'categoryType'</ee:set-variable>
                <ee:set-variable variableName="categoryId">attributes.uriParams.'categoryId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="68e90b94-9b8e-48e3-b59a-ae8c9defec2e" name="accesstoken_Flow" target="blackboardToken"/>
    </flow>
    <flow name="delete:\v1\catalog\categories\(categoryType)\(categoryId)\courses\(courseId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="7c848e14-e178-48e6-a14b-852e4d76fdf1" config-ref="HTTP_Listener_config" path="/v1/catalog/categories/{categoryType}/{categoryId}/courses/{courseId}" allowedMethods="DELETE" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="categoryType">attributes.uriParams.'categoryType'</ee:set-variable>
                <ee:set-variable variableName="categoryId">attributes.uriParams.'categoryId'</ee:set-variable>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="099c654f-94ac-4faf-98e9-b88ad19e470f" name="accesstoken_Flow" target="blackboardToken"/>
    </flow>
    <flow name="delete:\v1\courses\(courseId)\children\(childCourseId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="3c28c9fd-4f86-4eb5-b363-94a4f10a487d" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/children/{childCourseId}" allowedMethods="DELETE" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="childCourseId">attributes.uriParams.'childCourseId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="b05c048a-1ff8-4f25-be49-833ea8f37e78" name="accesstoken_Flow" target="blackboardToken"/>
    </flow>
    <flow name="delete:\v1\courses\(courseId)\meetings:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="8f5854b2-4a1d-4cf5-83e0-0c5d50e90405" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/meetings" allowedMethods="DELETE" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="b9fe35fb-c947-414c-baf0-6894ad0c1730" name="accesstoken_Flow" target="blackboardToken"/>
    </flow>
    <flow name="delete:\v1\courses\(courseId)\meetings\users\(userId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="79b4cba3-e1c2-436f-ad66-d0499ec542a7" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/meetings/users/{userId}" allowedMethods="DELETE" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="05de4fb6-f06a-438d-bf04-92237f051e99" name="accesstoken_Flow" target="blackboardToken"/>
    </flow>
    <flow name="delete:\v1\courses\(courseId)\meetings\(meetingId)\users\(userId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="480a22ee-2336-494e-9a29-9bf0b7e6d442" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/meetings/{meetingId}/users/{userId}" allowedMethods="DELETE" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="meetingId">attributes.uriParams.'meetingId'</ee:set-variable>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="4ff761d6-057a-4dff-b274-61960a830e0d" name="accesstoken_Flow" target="blackboardToken"/>
    </flow>
    <flow name="delete:\v1\courses\(courseId)\users\(userId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="fc92f921-6671-48ab-9725-d118835c1417" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/users/{userId}" allowedMethods="DELETE" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="8aec9883-c620-4df2-aa95-0e8c2d41a8b7" name="accesstoken_Flow" target="blackboardToken"/>
    </flow>
    <flow name="delete:\v1\terms\(termId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="f200ea4a-dc08-4d27-9e97-4b4537d7d641" config-ref="HTTP_Listener_config" path="/v1/terms/{termId}" allowedMethods="DELETE" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="termId">attributes.uriParams.'termId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="eba0a12d-ce51-45d7-8566-b918b6af004c" name="accesstoken_Flow" target="blackboardToken"/>
    </flow>
    <flow name="delete:\v1\users\(userId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="b9acb5fc-0bac-458a-9d3e-207be2f5ad67" config-ref="HTTP_Listener_config" path="/v1/users/{userId}" allowedMethods="DELETE" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="d0cf097e-9ded-4576-84fd-d58e2f219b0b" name="accesstoken_Flow" target="blackboardToken"/>
        <set-variable value="#[attributes.statusCode]" doc:name="httpStatus" doc:id="0712ae85-8ee6-49a2-875f-91e1a8c878c2" variableName="httpStatus" />
    </flow>
    <flow name="delete:\v3\courses\(courseId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="33bc68e4-1f88-4e21-be1b-6683a92aa4fd" config-ref="HTTP_Listener_config" path="/v3/courses/{courseId}" allowedMethods="DELETE" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="eb9467a3-befa-45fc-9740-743757a0445a" name="accesstoken_Flow" target="blackboardToken"/>
        <set-variable value="#[attributes.statusCode]" doc:name="httpStatus" doc:id="6d740b9f-54c9-4459-b0a4-3901338f3e84" variableName="httpStatus" />
    </flow>
    <flow name="patch:\v1\catalog\categories\(categoryType)\(categoryId):application\json:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="ca3d539a-1c72-41ce-90fb-6cc6ce21ed04" config-ref="HTTP_Listener_config" path="/v1/catalog/categories/{categoryType}/{categoryId}" allowedMethods="PATCH" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="categoryType">attributes.uriParams.'categoryType'</ee:set-variable>
                <ee:set-variable variableName="categoryId">attributes.uriParams.'categoryId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="6666194a-38d4-40e4-8c65-e1fd4370a2b9" name="accesstoken_Flow" target="blackboardToken"/>
    </flow>
    <flow name="patch:\v1\courses\(courseId)\meetings\(meetingId)\users\(userId):application\json:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="ec6c88fd-abfd-4532-952e-02f8505ee1ca" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/meetings/{meetingId}/users/{userId}" allowedMethods="PATCH" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="meetingId">attributes.uriParams.'meetingId'</ee:set-variable>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="4ad28817-e335-4402-9568-4b90a9d68151" name="accesstoken_Flow" target="blackboardToken"/>
    </flow>
    <flow name="patch:\v1\courses\(courseId)\users\(userId):application\json:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="8dc34e70-5880-4ab1-824d-0336ee97e9dd" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/users/{userId}" allowedMethods="PATCH" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="bee1c2f4-0f26-49f8-9d9e-1f442a9627b1" name="accesstoken_Flow" target="blackboardToken"/>
    </flow>
    <flow name="patch:\v1\terms\(termId):application\json:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="09d65c3c-40cc-4605-8c11-4b9e0dcf3722" config-ref="HTTP_Listener_config" path="/v1/terms/{termId}" allowedMethods="PATCH" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="termId">attributes.uriParams.'termId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="f89a8870-4a66-45e2-950d-e0e766611bdc" name="accesstoken_Flow" target="blackboardToken"/>
    </flow>
    <flow name="patch:\v1\users\(userId):application\json:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="e938286e-6adb-413e-9bc2-02a75613ae47" config-ref="HTTP_Listener_config" path="/v1/users/{userId}" allowedMethods="PATCH" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="6dc30b28-6477-44b0-a716-4a1abe0c8aaf" name="accesstoken_Flow" target="blackboardToken"/>
    </flow>
    <flow name="patch:\v3\courses\(courseId):application\json:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="6f59235c-3258-4b2d-b1ff-1fe4f5286fef" config-ref="HTTP_Listener_config" path="/v3/courses/{courseId}" allowedMethods="PATCH" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="c95df258-e2de-4114-8827-0e3a2f505a7d" name="accesstoken_Flow" target="blackboardToken"/>
    </flow>
    <flow name="get:\v1\calendars\items:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="72b46eb2-a130-4331-a344-bbb732f63516" config-ref="HTTP_Listener_config" path="/v1/calendars/items" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="blackboard-token-subFlow" doc:id="c6acb409-cc17-401c-b308-3072067d3764" name="accesstoken_Flow" target="blackboardToken"/>
		<blackboard:upcoming-events doc:name="Users - Upcoming events" doc:id="4611c889-2787-4762-a627-cba90ef428de" config-ref="Blackboard_config" correlationId="#[correlationId]"/>
    
</flow>
    <flow name="get:\v1\catalog\categories\(categoryType):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="1145891c-7349-42c0-9c78-71250784c253" config-ref="HTTP_Listener_config" path="/v1/catalog/categories/{categoryType}" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="categoryType">attributes.uriParams.'categoryType'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="15ad9a97-b58f-4522-96c6-37d0ff6acaf0" name="accesstoken_Flow" target="blackboardToken"/>
		<blackboard:get-categories doc:name="Course Category - Get Categories" doc:id="8dee87cd-052a-4895-9538-2ff81fca92d8" config-ref="Blackboard_config" categoryType="#[vars.categoryType]" correlationId="#[correlationId]"/>
    
</flow>
    <flow name="get:\v1\catalog\categories\(categoryType)\(categoryId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="5647e9be-d1c8-4e64-a013-1d34318f7a20" config-ref="HTTP_Listener_config" path="/v1/catalog/categories/{categoryType}/{categoryId}" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="categoryType">attributes.uriParams.'categoryType'</ee:set-variable>
                <ee:set-variable variableName="categoryId">attributes.uriParams.'categoryId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="baf776a8-e062-4e60-9909-24c6de097fe6" name="accesstoken_Flow" target="blackboardToken"/>
		<blackboard:get-category doc:name="Course Category - Get Category" doc:id="d427dfdb-1839-4935-8ba5-111065884046" config-ref="Blackboard_config" categoryType="#[vars.categoryType]" categoryId="#[vars.categoryId]" correlationId="#[correlationId]"/>
    
</flow>
    <flow name="get:\v1\catalog\categories\(categoryType)\(categoryId)\courses:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="4e07ddb4-0904-43ac-aa18-a6425aadbabf" config-ref="HTTP_Listener_config" path="/v1/catalog/categories/{categoryType}/{categoryId}/courses" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="categoryType">attributes.uriParams.'categoryType'</ee:set-variable>
                <ee:set-variable variableName="categoryId">attributes.uriParams.'categoryId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="986d737b-bf94-4bd0-8dac-20b8c7be740f" name="accesstoken_Flow" target="blackboardToken"/>
		<blackboard:get-category-memberships doc:name="Course Category - Get Category Memberships" doc:id="3df76bf8-fa9a-4e9f-8c3e-b41a02148d39" config-ref="Blackboard_config" categoryType="#[vars.categoryType]" categoryId="#[vars.categoryId]" correlationId="#[correlationId]"/>
    
</flow>
    <flow name="get:\v1\catalog\categories\(categoryType)\(parentId)\children:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="088e61ba-510e-4b54-bf24-dd3825995008" config-ref="HTTP_Listener_config" path="/v1/catalog/categories/{categoryType}/{parentId}/children" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="categoryType">attributes.uriParams.'categoryType'</ee:set-variable>
                <ee:set-variable variableName="parentId">attributes.uriParams.'parentId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="8b2037f5-927e-426a-82a7-de0302dfa3e7" name="accesstoken_Flow" target="blackboardToken"/>
		<blackboard:get-child-categories doc:name="Course Category - Get Child Categories" doc:id="b82d2cb3-0a0f-496e-96ce-8de9ead4917f" config-ref="Blackboard_config" categoryType="#[vars.categoryType]" parentId="#[vars.parentId]" correlationId="#[correlationId]"/>
    
</flow>
    <flow name="get:\v1\courseRoles:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="54e7d6c7-f474-4412-b81d-e47c327fe316" config-ref="HTTP_Listener_config" path="/v1/courseRoles" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="blackboard-token-subFlow" doc:id="406b8f53-5dca-4c8d-90cf-4162458b3f6c" name="accesstoken_Flow" target="blackboardToken"/>
		<blackboard:get-course-roles doc:name="Roles - Get Course Roles" doc:id="775e24c0-3bd1-42df-b9fe-8c23e2886569" config-ref="Blackboard_config" correlationId="#[correlationId]"/>
    
</flow>
    <flow name="get:\v1\courseRoles\(roleId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="d17b3328-330b-4e47-b40a-bd035863002f" config-ref="HTTP_Listener_config" path="/v1/courseRoles/{roleId}" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="roleId">attributes.uriParams.'roleId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="898ca2d8-eee3-47db-a494-75847c3b3782" name="accesstoken_Flow" target="blackboardToken"/>
		<blackboard:get-course-role doc:name="Roles - Get Course Role" doc:id="26666902-df4d-4a11-bf39-1b5716e33183" config-ref="Blackboard_config" roleId="#[vars.roleId]" correlationId="#[correlationId]"/>
    
</flow>
    <flow name="get:\v1\courses\(courseId)\children:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="08b851b0-5f2b-4ca4-8bc5-a831914a463c" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/children" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="fa72e1fb-d147-4b69-96cb-8fa426d8a565" name="accesstoken_Flow" />
		<blackboard:getcourse-children doc:name="Courses - Get Course Children" doc:id="61a8855b-9ceb-4022-9b95-4f92a151e95c" config-ref="Blackboard_config" courseId="#[vars.courseId]" correlationId="#[correlationId]"/>
    
</flow>
    <flow name="get:\v1\courses\(courseId)\children\(childCourseId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="40973ad0-a867-42eb-8bd6-eebfe6ae016c" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/children/{childCourseId}" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="childCourseId">attributes.uriParams.'childCourseId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="596fd8be-c418-4cd1-ad2b-c64fe5261a6e" name="accesstoken_Flow" />
    </flow>
    <flow name="get:\v1\courses\(courseId)\gradebook\categories:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="7bef71cf-6778-4a7b-bf24-4f9d7fe12cab" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/gradebook/categories" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="46f13ad1-0266-49b8-9bd0-b74714569d78" name="accesstoken_Flow" />
    </flow>
    <flow name="get:\v1\courses\(courseId)\meetings:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="2f771033-1c27-410a-b7ee-8f37ed8f962d" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/meetings" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="9542f30c-d2ef-4ff1-b4ab-f6e91f9178ec" name="accesstoken_Flow" />
    </flow>
    <flow name="get:\v1\courses\(courseId)\meetings\users\(userId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="b532faa6-e748-4ab7-91f5-5e0574c22d95" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/meetings/users/{userId}" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="e157036a-1f8a-447b-acd8-09b216becf7c" name="accesstoken_Flow" />
    </flow>
    <flow name="get:\v1\courses\(courseId)\meetings\(meetingId)\users:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="b79271b7-0d70-4bb0-b5a8-36cd54f8cf24" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/meetings/{meetingId}/users" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="meetingId">attributes.uriParams.'meetingId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="a3ba6bf5-a93c-4e72-a861-c2c0da666bca" name="accesstoken_Flow" />
    </flow>
    <flow name="get:\v1\courses\(courseId)\meetings\(meetingId)\users\(userId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="56d99fd2-db66-4a1a-9015-48a2a21c3288" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/meetings/{meetingId}/users" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="meetingId">attributes.uriParams.'meetingId'</ee:set-variable>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="b558f593-6f19-4ce3-9ac7-be41522457b3" name="accesstoken_Flow" />
    </flow>
    <flow name="get:\v1\courses\(courseId)\users:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="8f4f4d4f-85f0-49f4-b406-26dd0369c67a" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/users" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="0cd160f7-023d-4f34-9f33-6c8d39d4f70f" name="accesstoken_Flow" />
    </flow>
    <flow name="get:\v1\courses\(courseId)\users\(userId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="bcb21b4a-ee13-4e4d-9fa5-ba81025917d2" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/users/{userId}" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="db6b6205-fa29-4ff2-b3e7-1d829a438af0" name="accesstoken_Flow" />
    </flow>
    <flow name="get:\v1\institutionRoles:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="305bbff8-65e3-48cf-b5ea-0d445a45417f" config-ref="HTTP_Listener_config" path="/v1/institutionRoles" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="blackboard-token-subFlow" doc:id="5c30b2bd-aa63-4fdd-9cfd-3037e32a123a" name="accesstoken_Flow" />
    </flow>
    <flow name="get:\v1\institutionRoles\(roleId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="95424ad3-411f-4cde-a2cf-06677d58af2d" config-ref="HTTP_Listener_config" path="/v1/institutionRoles/{roleId}" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="roleId">attributes.uriParams.'roleId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="eace63d6-aca8-4b89-bc51-8e29c87df4f9" name="accesstoken_Flow" />
    </flow>
    <flow name="get:\v1\terms:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="1e0ab4e8-8f17-439e-a2f5-740dcfc3ad4a" config-ref="HTTP_Listener_config" path="/v1/terms" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="blackboard-token-subFlow" doc:id="0b8829a8-7d41-46d5-b8b8-0da29a3f01d6" name="accesstoken_Flow" />
    </flow>
    <flow name="get:\v1\terms\(termId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="dd88a66c-4a75-4c91-bcfb-75528b0480de" config-ref="HTTP_Listener_config" path="/v1/terms/{termId}" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="termId">attributes.uriParams.'termId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="222251c8-f048-4302-843d-82f814f3f59e" name="accesstoken_Flow" />
    </flow>
    <flow name="get:\v1\users:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="fe14c2c7-36da-450f-9c86-9bd1927fc2d0" config-ref="HTTP_Listener_config" path="/v1/users" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="blackboard-token-subFlow" doc:id="793f66d1-344f-47af-bc97-13a92fd3ea7b" name="accesstoken_Flow" />
    </flow>
    <flow name="get:\v1\users\(userId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="74b2a602-b78a-4446-a399-b7bce6ee552e" config-ref="HTTP_Listener_config" path="/v1/users/{userId}" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="8b552aaf-2189-4cbb-b0c7-7dacf0592d54" name="accesstoken_Flow" />
    </flow>
    <flow name="get:\v1\users\(userId)\courses:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="cf631488-704b-4b7e-b74c-f58ad56ca1a2" config-ref="HTTP_Listener_config" path="/v1/users/{userId}/courses" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="97966448-f9c5-41a7-bbdc-36a6b56f37e1" name="accesstoken_Flow" />
    </flow>
    <flow name="get:\v2\courses\(courseId)\gradebook\columns:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="3295a115-c945-4b53-88fd-9a038c916e64" config-ref="HTTP_Listener_config" path="/v2/courses/{courseId}/gradebook/columns" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="ff897023-8a33-49b0-87dd-48c0b91217f5" name="accesstoken_Flow" />
    </flow>
    <flow name="get:\v2\courses\(courseId)\gradebook\columns\(columnId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="9c3716bf-31d1-40dc-93b9-5e4361550742" config-ref="HTTP_Listener_config" path="/v2/courses/{courseId}/gradebook/columns/{columnId}" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="columnId">attributes.uriParams.'columnId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="76aa8acd-0e81-4940-aac4-8843890de352" name="accesstoken_Flow" />
    </flow>
    <flow name="get:\v2\courses\(courseId)\gradebook\columns\(columnId)\users:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="c27e07be-7cb9-4b10-bf4d-316968491225" config-ref="HTTP_Listener_config" path="/v2/courses/{courseId}/gradebook/columns/{columnId}/users" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="columnId">attributes.uriParams.'columnId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="9ac63597-ec68-45c6-90b2-63cfbd338f38" name="accesstoken_Flow" />
    </flow>
    <flow name="get:\v2\courses\(courseId)\gradebook\columns\(columnId)\users\(userId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="6514e40f-68fe-49a0-bf0f-0406c7e78322" config-ref="HTTP_Listener_config" path="/v2/courses/{courseId}/gradebook/columns/{columnId}/users/{userId}" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="columnId">attributes.uriParams.'columnId'</ee:set-variable>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="040ac69d-db97-4a7e-9b5e-72e7bd2dab6e" name="accesstoken_Flow" />
    </flow>
    <flow name="get:\v2\courses\(courseId)\gradebook\users\(userId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="da610fb6-adbe-44c8-b620-6ad73bf4219c" config-ref="HTTP_Listener_config" path="/v2/courses/{courseId}/gradebook/users/{userId}" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="02988408-af7a-4411-890b-6fc286afb119" name="accesstoken_Flow" />
    </flow>
    <flow name="get:\v3\courses:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="b5f73409-56d4-4fa4-8574-20a39ede4488" config-ref="HTTP_Listener_config" path="/v3/courses" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="blackboard-token-subFlow" doc:id="8aee3d35-b3cc-468d-b6a3-940799e1a6b8" name="accesstoken_Flow" target="blackboardToken"/>
		<blackboard:get-courses doc:name="Courses - Get Courses" doc:id="b15133a0-f3ae-48a1-a2d8-4f7546756114" config-ref="Blackboard_config" correlationId="#[correlationId]"/>
    
</flow>
    <flow name="get:\v3\courses\(courseId):blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="e71a4d08-5b21-47ae-a0cd-f55c30da82b4" config-ref="HTTP_Listener_config" path="/v3/courses/{courseId}" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="e2de83f8-133f-4237-945b-4ca505204e11" name="accesstoken_Flow" />
    </flow>
    <flow name="post:\oauth2\token:application\x-www-form-urlencoded:blackboard-rest-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  access_token: "abc123tokenexample",
  token_type: "bearer",
  expires_in: 3600,
  scope: "read write delete"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\v1\catalog\categories\(categoryType):application\json:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="bd5528c1-bd44-4783-9ab8-47463aad5ba9" config-ref="HTTP_Listener_config" path="/v1/catalog/categories/{categoryType}" allowedMethods="POST" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="categoryType">attributes.uriParams.'categoryType'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="6e4c7227-1e38-461a-9e54-e15ac01501dc" name="accesstoken_Flow" />
    </flow>
    <flow name="post:\v1\courses\(courseId)\meetings\(meetingId)\users:application\json:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="95182330-0c07-49ad-b5cb-00ac35d96e63" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/meetings/{meetingId}/users" allowedMethods="POST" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="meetingId">attributes.uriParams.'meetingId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="7dc3ca10-ad65-4a8c-8d61-06d75927012b" name="accesstoken_Flow" />
    </flow>
    <flow name="post:\v1\courses\(courseId)\meetings:application\json:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="9f95b4b3-5cd2-45ca-ad24-a6d854f799ce" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/meetings" allowedMethods="POST" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="83e41b69-c069-4486-b1bf-b6b94ff1499c" name="accesstoken_Flow" />
    </flow>
    <flow name="post:\v1\terms:application\json:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="9e8bf7f3-47f4-4137-99e2-8868a61a15d6" config-ref="HTTP_Listener_config" path="/v1/terms" allowedMethods="POST" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="blackboard-token-subFlow" doc:id="bd540c94-8cfe-4305-8950-869f00a3d12f" name="accesstoken_Flow" />
    </flow>
    <flow name="post:\v1\users:application\json:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="403b6ac6-c3d4-4343-9247-658fb3b233d7" config-ref="HTTP_Listener_config" path="/v1/users" allowedMethods="POST" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="blackboard-token-subFlow" doc:id="0b480445-e720-48d6-ab8a-d344caf998a9" name="accesstoken_Flow" />
    </flow>
    <flow name="post:\v3\courses:application\json:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="795524be-9f51-4bb9-be93-fb7e4e704f6e" config-ref="HTTP_Listener_config" path="/v3/courses" allowedMethods="POST" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="blackboard-token-subFlow" doc:id="147f842d-a818-4dc3-8175-9a51acb760e8" name="accesstoken_Flow" />
        <logger level="INFO" doc:name="Logger" doc:id="e9cd4695-fffa-4490-a752-f3ebf566bc85" />
    </flow>
    <flow name="patch:\v1\courses\(courseId)\meetings\(meetingId):application\json:blackboard-rest-api-config">
        <http:listener doc:name="Listener" doc:id="a52bbe23-13fd-4e41-bad7-a445b025226d" config-ref="HTTP_Listener_config" path="/v1/courses/{courseId}/meetings/{meetingId}" allowedMethods="PATCH" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.'courseId'</ee:set-variable>
                <ee:set-variable variableName="meetingId">attributes.uriParams.'meetingId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="blackboard-token-subFlow" doc:id="7681f230-9586-459f-8a2f-47b36dcb36ce" name="accesstoken_Flow" />
    </flow>
	
</mule>
